{% extends 'registration/register.html.twig' %}
{% block main %}
    <div style="height: 35rem" class="container text-white d-flex align-items-center">
        <div class="row w-100 ml-auto mr-auto">
            <div class="col-6 p-2 ml-auto mr-auto text-center border article-body rounded">
                <div class="row w-100 ml-auto mr-auto">
                    <div class="form-container col-12 pb-4 pt-3 w-100 h-100 mh-100 ml-auto mr-auto pr-0">
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form action="{{ path('login') }}" method="post">
                            <div class="row d-flex w-100">
                                <div class="col-12">
                                    <label for="username">Username:</label>
                                    <input type="text" id="username" name="_username" placeholder="Or e-mail" value="{{ last_username }}" />
                                </div>
                                <div class="col-12">
                                    <label class="mr-1" for="password">Password:</label>
                                    <input type="password" id="password" name="_password" />
                                </div>
                                <div class="col-12 ml-4">
                                    <button class="ml-4 btn btn-success" type="submit">login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock main %}
