.compareDeleteItem {
    z-index: 2;
    width: 32px;
    height: 32px;
}

.compareDeleteItem:hover {
    cursor: pointer !important;
}

.compareDeleteItem:focus {
    outline: 0px !important;
}

.comparison {
    overflow-y: auto;
    overflow-x: hidden;
    height: 42rem;
    margin-top: 2.33rem !important;

}